body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.elements{
    box-sizing: border-box;
    width: 15vw;
    height: 100vh;
    background-color: rgb(18, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
}
.elements > div{
    margin: 4px;
    height: 5vw;
    width: 13vw;
    /* padding: 1vw; */
    font-size: 30px;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition:all 200ms linear;
}
.elements > div:hover{
    /* transition:all 200ms linear; */
    /* background-color: rgba(230, 233, 44, 0.3); */
    background-color: rgb(197, 196, 190);
}
.elements > div > img{
    width: 100px;
    height: 50px;
}
.board{
    width: 85vw;
    height: 100vh;
    background-color: rgb(197, 196, 190);
    float: left;
    box-sizing:border-box;
    border: solid 0.5vw rgb(0, 0, 0);
}

.diod-element{
    position: relative;
    top: 300px;
    left: 500px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: solid 4.5px black;
    background: rgb(113,105,102);
    background: linear-gradient(90deg, rgb(42, 40, 40) 0%, rgb(98, 100, 103) 100%);
    z-index: 0;
}
.diod-on{
    background: rgb(180,108,58);
    background: linear-gradient(90deg, rgba(180,108,58,1) 0%, rgba(253,151,29,1) 50%, rgba(249,252,69,1) 100%);
}

.context-menu{
    position: absolute;
    background-color: white;
    width: 100px;
    height: 300px;
    display: none;
}

.gate-board{
    color: black;
    position: absolute;
}
.gate-board > img {
    width: 100px;
    height: 50px;
    cursor: pointer;
    filter: invert(1);
}
/* 
.diod-menu{}
.gate-not-menu{}
.gate-or-menu{}
.gate-and-menu{} */