:root{
    --main-bg-color: rgb(197, 196, 190);
    --diod-side: 20px;
    --gate-width: 120px;
    --gate-heigth: 50px;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.elements{
    box-sizing: border-box;
    width: 15vw;
    height: 100vh;
    background-color: rgb(18, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
}
.elements > div{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 4px;
    height: 5vw;
    width: 13vw;
    font-size: 30px;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition:all 200ms linear;
}
.elements > div:hover{
    background-color: rgb(197, 196, 190);
}
.elements > div > img{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100px;
    height: 50px;
}
.board{
    width: 85vw;
    height: 100vh;
    background-color: rgb(197, 196, 190);
    float: left;
    box-sizing:border-box;
    border: solid 0.5vw rgb(0, 0, 0);
}

.diod-element{
    position: absolute;
    width: var(--diod-side);
    height: var(--diod-side);
    cursor: pointer;
    border: solid 5px black;
    background: linear-gradient(90deg, rgb(42, 40, 40) 0%, rgb(98, 100, 103) 100%);
    z-index: 1;
}
.diod-on{
    -o-border-image: linear-gradient(90deg, rgb(186, 120, 73) 0%, rgba(253,151,29,1) 50%, rgba(249,252,69,1) 100%);
       border-image: linear-gradient(90deg, rgb(186, 120, 73) 0%, rgba(253,151,29,1) 50%, rgba(249,252,69,1) 100%); 
    border-image-slice: 1;
}

.gate-board{
    color: black;
    position: absolute;
    width: var(--gate-width);
    height: var(--gate-heigth);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.gate-board > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.select-mode-reminder{
    position:absolute; 
    top: 88%;
    left: 1%;
    font-size: 40px;
    font-style: normal;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.gate-color{
    position: relative;
    top: -80%;
    left: 30%;
    border-radius: 50%;
    width: var(--diod-side);
    height: var(--diod-side);
    cursor: pointer;
    z-index: 0;
}
.diod-color{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.bin{
    position:absolute;
    top: 86%;
    left: 78%;
    width: 100px;
    height: 100px;
}
.bin > i {
    font-size: 70px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.bin :hover{
    color: red;
}